body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://previews.123rf.com/images/seamartini/seamartini1908/seamartini190800378/129344843-notes-de-papier-sur-des-autocollants-des-blocs-notes-et-des-messages-m%C3%A9mo-sur-des-feuilles-de-papier.jpg ) !important;
  background-position: center;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
